body {
    background-color: black;
}
.post {
    padding: 50px;
}

p {
font-size: 60px;
margin: 110px 10px 10px 10px;
color: white;
}

.post_image {
    width: 400px;
    float: left;
    margin: 20px 100px 20px 20px;
    }
    
.post_image1 {
    width: 400px;
    float:right;
    margin: 10px 80px 10px 10px;
    filter: invert(100%);

}