.header {
    width: 30%;
    height: 100px;
    border-radius: 0px 0px 0px 0px;
    
    background-color: rgb(213, 193, 193);
    
    padding: 0 20px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-style: italic;
}
.header__logo {
    font-size: 28px;
   }
   
   .header__logo span {
    color: rgb(31, 1, 255);
   }