body {
    background-color: beige;
    color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Courier new"; 
    
   }
   
   .one {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
   }
   
   .two {
    text-align: right;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
    }