.header {
    width: 35%;
    height: 200px;
    border-radius: 0px 0px 0px 0px;
    
    background-color: rgb(218, 218, 218);
    
    padding: 0 20px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 22px;
    }
.header__logo {
    font-size: 28px;
    font-style: normal;
    text-align: left;
   }
   
